
<ion-view view-title="{{member.name}}">
  <ion-content class="padding">
    <img ng-src="img/ionic.png" style="width: 64px; height: 64px">
    <p>
      Member Id : {{member.memberid}}
    </p>
    <p>
      Name : {{member.name}}
    </p>
     <p>
      Party : {{member.party}}
    </p>
    <p>
      Constituency : {{member.constituencies}}
    </p>
     <p>
      State : {{member.state}}
    </p>
    <p>
      Permanent Address : {{member.paddress}}
    </p>
     <p>
      Permanent Phone : {{member.pphone}}
    </p>
    <p>
      Local Address : {{member.localaddress}}
    </p>
    <p>
      Local Phone : {{member.localphone}}
    </p>
    <p>
      Email : {{member.email}}
    </p>
  </ion-content>
</ion-view>
