<ion-view view-title="About">
  <ion-content>
    <div class="row">
      <div class="col"><h4>{{about}}</h4></div>
    </div>
    <div class="card">
      	<div class="item item-divider">
        	Contact
      	</div>
    <div class="item item-text-wrap">
        <div class="row">
          <div class="col"><b>Name</b></div>
          <div class="col col-75">{{developer}}</div>
        </div>
        
        <div class="row">
          <div class="col"><b>Email</b></div>
          <div class="col col-75">{{email}}</div>
        </div>
        
        <div class="row">
          <div class="col"><b>Website</b></div>
          <div class="col col-75">{{website}}</div>
        </div>
    </div>
	</div>
  </ion-content>
</ion-view>
